{% if order.status == 'active' %}
<div class="card mb-4 mt-4">
    <div class="card-header">
        <h2>{{ order.title }}</h2>
    </div>
    <div class="card-body">
        <h3>{{ 'DNS Record Management'|trans }}</h3>
        
        <form class="mb-4 api-form" method="post" action="{{ 'api/client/servicedns/add'|link }}" data-api-msg="{{ 'New record added'|trans }}">
          <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
            <div class="row g-3">
                <div class="col-md-2">
                    <select class="form-select" name="record_type" required>
                        <option value="" disabled selected>Select Type</option>
                        <option value="A">A</option>
                        <option value="AAAA">AAAA</option>
                        <option value="CNAME">CNAME</option>
                        <option value="MX">MX</option>
                        <option value="TXT">TXT</option>
                        <option value="SPF">SPF</option>
                        <option value="DS">DS</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="example." name="record_name" required>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="127.0.0.1" name="record_value" required>
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="TTL" name="record_ttl" value="600" required>
                </div>
                <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Priority" name="record_priority">
                </div>
                <div class="col-md-auto">
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    <button class="btn btn-outline-primary btn-icon" type="submit" title="{{ 'Add Record'|trans }}"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg></button>
                </div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-striped table-bordered text-nowrap table-vcenter">
                <thead>
                    <tr>
                        <th scope="col" class="w-1">Type</th>
                        <th scope="col" class="w-25">Name</th>
                        <th scope="col" class="w-50">Value</th>
                        <th scope="col" class="w-25">TTL</th>
                        <th scope="col" class="w-1">Priority</th>
                        <th scope="col" class="w-1">Actions</th>
                    </tr>
                </thead>
                    <tbody id="recordsTableBody">
                        {% for record in service.records %}
                        <form class="mb-4 api-form" method="post" action="{{ 'api/client/servicedns/update'|link }}" data-api-msg="{{ 'Record updated'|trans }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
                        <input type="hidden" name="record_id" value="{{ record.id }}"/>
                        <input type="hidden" name="record_type" value="{{ record.type }}"/>
                        <input type="hidden" name="record_name" value="{{ record.host }}"/>
                        <input type="hidden" name="old_value" value="{{ record.value }}"/>
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                            <tr>
                                <td>{% set dns_type = record.type|upper %}
                                <span class="badge 
                                {% if dns_type == 'A' %}bg-blue-lt
                                {% elseif dns_type == 'AAAA' %}bg-indigo-lt
                                {% elseif dns_type == 'CNAME' %}bg-green-lt
                                {% elseif dns_type == 'MX' %}bg-orange-lt
                                {% elseif dns_type == 'TXT' %}bg-teal-lt
                                {% elseif dns_type == 'SPF' %}bg-red-lt
                                {% elseif dns_type == 'DS' %}bg-purple-lt
                                {% else %}bg-default
                                {% endif %}">{{ dns_type }}</span></td>
                                <td><strong>{{ record.host }}</strong></td>
                                <td><input type="text" class="form-control" placeholder="127.0.0.1" name="record_value" value="{{ record.value }}" style="min-width:200px;" required></td>
                                <td><input type="text" class="form-control" placeholder="600" name="record_ttl" value="{{ record.ttl }}" style="min-width:100px;" required></td>
                                <td> {% if record.type == 'MX' %} <span class="badge bg-dark-lt">{{ record.priority }}</span> <input type="hidden" name="record_priority" value="{{ record.priority }}"> {% endif %} </td>
                                <td class="text-end">
                                    <button type="submit" class="btn btn-outline-primary btn-icon" name="action" value="update" title="Update Record">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-icon" title="Delete Record" onclick="confirmDelete(this.form)">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M10 10l4 4m0 -4l-4 4" /></svg>
                                    </button>
                                </td>
                            </tr>
                        </form>
                        {% else %}
                            <tr>
                                <td colspan="6">No DNS records found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>

<script>
function confirmDelete(form) {
    event.preventDefault();

    if (confirm("Are you sure you want to delete this record?")) {
        // Fetch API to send the form data
        fetch("{{ 'api/client/servicedns/del'|link }}", {
            method: 'POST',
            body: new FormData(form), // Sends the form data
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data); // Handle the response data
            // Optionally reload the page
            window.location.reload();
        })
        .catch(error => console.error('Error:', error));
    }
}
</script>
{% endif %}
