{% import 'macro_functions.html.twig' as mf %}
    <div class="card-body">
        <h1>{{ 'DNS Provider settings'|trans }}</h1>
        <form method="post" action="{{ 'api/admin/product/update_config'|link }}" class="api-form save" data-api-msg="{{ 'DNS Provider settings updated'|trans }}">
            <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
            <div class="mb-3 row">
                <P>{{ 'Select your DNS provider from the list. Ensure you have an account with the chosen service.'|trans }}</p>
                <label class="form-label col-3 col-form-label">{{ 'Provider'|trans }}:</label>
                <div class="col">
                    <select class="form-select" name="config[provider]" required>
                        <option value="" disabled selected>Select Provider</option>
                        <option value="Desec">Desec</option>
                        <option value="Vultr">Vultr</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <P>{{ 'Enter your DNS provider\'s API key. Keep it confidential and ensure it\'s valid for requests.'|trans }}</p>
                <label class="form-label col-3 col-form-label">{{ 'API Key'|trans }}:</label>
                <div class="col">
                    <input type="text" class="form-control" name="config[apikey]" value="{{ product.config.apikey }}">
                </div>
            </div>
            
            <input type="hidden" name="id" value="{{ product.id }}">
            <button class="btn btn-primary w-100" type="submit">{{ 'Update'|trans }}</button>
        </form>
    </div>